[submodule "contract/lib/foundry-chainlink-toolkit"]
	path = contract/lib/foundry-chainlink-toolkit
	url = https://github.com/smartcontractkit/foundry-chainlink-toolkit
[submodule "contract/lib/chainlink-brownie-contracts"]
	path = contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
